*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  color: #222;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(270deg, #0d47a1, #1976d2, #42a5f5);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  z-index: 1000;
  border-bottom: 3px solid #0d47a1;
}

/*animação*/
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#map{
  height: calc(100vh - 70px); 
  width: 100%;
  margin-top: 70px; 
}

/*popup*/
.custom-popup{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  border-radius: 10px;
  padding: 3px;
}

/*marcador das cidades*/
.cidade-marker{
  width: 30px;
  height: 30px;
  background-color: #f50c1f;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  line-height: 30px;
  color: rgb(240, 233, 233);
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  transition: transform 0.2s, background 0.2s;
}

.cidade-marker:hover{
  transform: scale(1.25);
  background-color: #f07777;
}

/*estilização popup*/
.leaflet-popup-content-wrapper{
  background-color: #cddcee; 
  color: #000000; 
  border-radius: 8px;
}

/*setinha popup*/
.leaflet-popup-tip{
  background-color: #cddcee; 
}